body {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/25/16/57/sling-1222466_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

h1 {
  font-family: "Eater", cursive;
  font-size: 7.5em;
  font-weight: 200;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
}
#turns {
  font-family: "Piedra", cursive;
  font-size: 3.5em;
  font-weight: 400;
  margin-top: 5px;
}
#message {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
}
