@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');

body {
    font-family: 'Rochester', cursive;
    text-align: center;
    background-color: rgb(131, 220, 255);
    background-image: url(https://pixabay.com/get/57e7d1414b54aa14f6d1867dda6d32781c39dae6524c704c73287cd09748cc5e/background-1742166_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

#message {
	font-size: 2em;
}

.js-start {
    display: grid;
    font-family: 'Rochester', cursive;
    color: red;
    -moz-box-shadow: 9px 5px 13px 0px #af3ab5;
	-webkit-box-shadow: 9px 5px 13px 0px #af3ab5;
	box-shadow: 9px 5px 13px 0px #af3ab5;
	background-color:transparent;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #f0f0f0;
	display:inline-block;
	cursor:pointer;
	color:#d241eb;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:1px -2px 0px #f0f0f0;
}
.js-start:hover {
	background-color:transparent;
}
.js-start:active {
	position:relative;
	top:1px;
}

}